
<%= form_with(model: [publication, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form class="" action="index.html" method="post">

    <div class="label_button">
       <%=form.label :Add comment %>
       <%= form.text_area :content, placeholder: "Entrer un commentaire par rapport à la publication" %><br><br>
     </div>
     <div class="label_button">
        <%= form.text_field :name, placeholder: "Votre nom" %><br><br>
      </div>

      <div class="label_button">
         <%= form.text_field :email, placeholder: "Votre email" %><br><br>
       </div>

    <div class="actions">
    <input class="btn btn-primary" type="submit" value="Submit">
      <%= form.submit %>
    </div>

</form>
<% end %>
