<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
   <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


       <div class="label_name">
          <%= form.text_field :name, placeholder: "Votre nom" %><br><br>
        </div>

        <div class="label_email">
           <%= form.text_field :email, placeholder: "Votre email" %><br><br>
         </div>

         <div class="content">

            <%= form.text_area :content, placeholder: "Entrer un commentaire par rapport à la publication" %><br><br>
          </div>

         <div class="field">
           <%= form.hidden_field :publication_id %>
         </div>

        <div class="actions">
          <input class="btn btn-primary" type="submit" value="Add comment">
        </div>

<% end %>
