
    <% @publications.each do |publication| %>
<div id="content">
    <div class="post">
      <p class="details1"><%= publication.date %> <a href="#"><%= publication.category.name %></a></p>
      <div class="buffer">
        <div class="content"> <a href="#"><%= image_tag publication.image_url, style:'width:100px;height:100px' %></a>
          <h2><a href="#"><%= publication.title %></a></h2>
          <p><%= publication.content  %></p>
        </div>
        <p class="details2"><%= link_to 'comment', new_comment_path %> / <%= link_to 'Read More', publication %></p>
      </div>
    </div>
</div>

    <% end %>
