
    <% @publications.each do |publication| %>

    <div class="section layout_padding">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="heading">
                   <h3>About <span class="orange_color">News</span></h3>
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-6">
                <%= image_tag publication.image_url, style:'width:300px;height:300px' %>
             </div>
             <div class="col-md-6">
                <div class="full blog_cont">
                   <h4><%= publication.title %></h4>
                   <h5><%= publication.date %></h5>
                   <h5><%= publication.category.name %></h5>
                   <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                </div>
             </div>
          </div>

          <div class="">
            <td><%= link_to 'Read More', publication %></td>
            <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
            <td><%= link_to 'comment', new_comment_path %></td>
            <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
            <td><%= link_to 'New Category', new_category_path %></td>
          </div>

          <!-- <div class="row margin_top_30">
             <div class="col-md-6">
                <img src="images/blog2.png" alt="#" />
             </div>
             <div class="col-md-6">
                <div class="full blog_cont">
                   <h4>What 3 years of android taught me the hard way</h4>
                   <h5><%= publication.date %></h5>
                    <h5><%= publication.category.name %></h5>
                   <p>T<%= publication.content %> here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                </div>
             </div>
          </div> -->


          <!-- <div class="row margin_top_30">
             <div class="col-md-12">
                <div class="button_section full center margin_top_30">
                   <a style="margin:0;" href="about.html">Read More</a>
                </div>
             </div>
          </div> -->
       </div>
    </div>


    <% end %>




<br>

<%= link_to 'New Publication', new_publication_path %>
