
<div class="heading">
   <h3>About <span class="orange_color">News</span></h3>
</div>
    <% @publications.each do |publication| %>

    <div class="section layout_padding">
       <div class="container">

             </div>
          </div>
          <div class="row">
             <div class="col-md-6">
                <%= image_tag publication.image_url, style:'width:300px;height:300px' %>
             </div>
             <div class="col-md-6">
                <div class="full blog_cont">
                   <h4><%= publication.title %></h4>
                   <h5><%= publication.date %></h5>
                   <h5><%= publication.category.name %></h5>
                   <p>T<%= publication.content %></p>
                </div>
             </div>
          </div>

          <div class="full slider_cont_section">
             <div class="button_section">
                <%= link_to 'comment', new_comment_path %>
                <%= link_to 'Read More', publication %>
                <%= link_to 'Edit', edit_publication_path(publication) %>
                <%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' }  %>
                <%= link_to 'New Publication', new_publication_path %>
             </div>
          </div>
       </div>
    </div>


    <% end %>




<br>

<%= link_to 'New Publication', new_publication_path %>
