<!DOCTYPE html>
<html>
  <head>
    <title>GraduationAnselme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>
  <body>
    <!-- header -->
    <header>
       <!-- header inner -->
       <div class="container-fluid">
          <div class="row">
             <div class="col-lg-3 logo_section">
                <div class="full">
                   <div class="center-desk">
                      <div class="logo"> <a href="index.html"></a> </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-9">
                <div class="menu-area">
                   <div class="limit-box">
                      <nav class="main-menu">
                        <ul class="menu-area-main">
                           <li class="active">
                              <a href="<%= root_path %>">Home</a>
                           </li>
                           <li class="active">
                              <a href="<%= new_user_session_path %>">Login</a>
                           </li>
                           <% if current_user && current_user.user_role == "author" %>
                           <li>
                              <a href="publication.html"><%= link_to 'New', new_publication_path %></a>
                           </li>
                           <li>
                              <a href="marketing.html"><%= link_to "Logout", destroy_user_session_path, method: :delete  %></a>
                           </li>
                           <li>
                              <a href="root_path"><%= link_to 'profile', edit_user_registration_path %></a>
                           </li>
                        </ul>
                        <% elsif   current_user && current_user.user_role == "admin"  %>
                            <li>
                              <a href="publication.html"><%= link_to 'New', new_publication_path %></a>
                           </li>
                           <li>
                              <a href="marketing.html"><%= link_to "Logout", destroy_user_session_path, method: :delete  %></a>
                           </li>
                           <li>
                              <a href="marketing.html"><%= link_to "admin", rails_admin_path %></a>
                           </li>
                           <li>
                              <a href="root_path"><%= link_to 'profile', edit_user_registration_path %></a>
                           </li>
                      </nav>
                      <% end %>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!-- end header inner -->
    </header>
    <div class="banner-slider">
       <div class="container-fluid">
         <% if user_signed_in? %>
             <td>  Logged in as <strong><%= current_user.email %></strong>.</td> <br>
             <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
             <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
             <%# link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
             <%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
         <% end %>
      </div>
      </div>
       <%= yield %>
    <section class="layout_padding">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="heading" style="padding-left: 15px;padding-right: 15px;">
                   <h4 style="border-bottom: solid #333 1px;">Comments</h4>
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-12">
                <div class="full comment_blog_line">
                   <div class="row">
                      <div class="col-md-1">
                      </div>
                      <div class="col-md-9">
                         <div class="full contact_text">
                         </div>
                      </div>
                   </div>
                </div>
                <div class="full comment_blog_line">
                   <div class="row">
                      <div class="col-md-1">
                      </div>
                      <div class="col-md-9">
                         <div class="full contact_text">
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- footer -->
    <footer>
       <div class="container">
          <div class="row">
             <div class="col-lg-4 col-md-6">
                <a href="#"></a>
                <ul class="contact_information">
                   <li><span><%= image_tag("location_icon.png")%></span><span class="text_cont">Benin-Cotonou<br>Porto-Novo</span></li>
                   <li><span><%= image_tag("phone_icon.png")%></span><span class="text_cont">96611844<br>64137664</span></li>
                   <li><span><%= image_tag("mail_icon.png")%></span><span class="text_cont">anselmehado85@yahoo.com<br>anselmehado1@gmail.com</span></li>
                </ul>
                <ul class="social_icon">
                   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                   <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
             </div>
             <div class="col-lg-2 col-md-6">
                <div class="footer_links">
                   <h3>Quick link</h3>
                   <ul>
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Home</a></li>
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Features</a></li>
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Evens</a></li>
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Markrting</a></li>
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Blog</a></li>
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Testimonial</a></li>
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Contact</a></li>
                   </ul>
                </div>
             </div>
             <div class="col-lg-3 col-md-6">
                <div class="footer_links">
                   <h3> Computers</h3>
                   <ol>
                      <li><%= image_tag("footer_blog.png")%></li>
                      <li><%= image_tag("footer_blog.png")%></li>
                      <li><%= image_tag("footer_blog.png")%></li>
                      <li><%= image_tag("footer_blog.png")%></li>
                   </ol>
                </div>
             </div>
             <div class="col-lg-3 col-md-6">
                <div class="footer_links">
                   <h3>Contact us</h3>
                   <form action="index.html">
                      <fieldset>
                         <div class="field">
                            <input type="text" name="name" placeholder="Your Name" required="" />
                         </div>
                         <div class="field">
                            <input type="email" name="email" placeholder="Email" required="" />
                         </div>
                         <div class="field">
                            <textarea placeholder="Message"></textarea>
                         </div>
                         <div class="field">
                            <div class="center">
                               <button class="reply_bt">Send</button>
                            </div>
                         </div>
                      </fieldset>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </footer>
    <div class="cpy">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <p>Copyright © 2021 Design by  Anselme Hado with the help of DIC mentor. All my thank to you</p>
             </div>
          </div>
       </div>
    </div>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- Scrollbar Js Files -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
